deepspeed
fvcore
h5py
ipykernel
jupyterlab
lightning
matplotlib
mrcfile
numpy<2.3.0
omegaconf
pandas
pre-commit
rich
scikit-fmm
scikit-learn<1.8.0
scipy
seaborn
starfile
tensorboard
timm
typer
umap-learn
